<!-- /HEADER -->
<div id="navigation" class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar-header" id="vantiv-header">
                    <a class="navbar-brand" href="/vantiv/"><img src="/vantiv/images/Vantiv.png" height="40" width="150" alt="Vantiv"><span>Developers</span></a>
                </div>
            </div>
        </div>
    </div>
	<div style="background: #fff3cd; color: #856404; border: 1px solid #ffeeba; padding: 16px; text-align: center; font-size: 1.2em; margin-bottom: 24px;">
  <strong>Notice:</strong> This developer website has been migrated to 
  <a href="https://worldpay.github.io/vantiv/" style="color: #0c5460; text-decoration: underline; font-weight: bold;">
    https://worldpay.github.io/vantiv/
  </a>and will be out-of-service by <strong>May 15, 2026</strong>.
</div>
</div>
<!-- /HEADER -->
	
